body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: tahoma, sans-serif;
}
.main{
     min-height: 100vh;
     min-width: 100vw;

     margin-bottom: -80px;

     background: darkcyan;
}
.main::after, .footer{
     content: "";
     display: block;

     height: 80px;
}
.footer{
     background: purple;
}
