body{
     background-color: #000;
}
.slider{
     position: relative;
     top: 100px;
     left: 200px;
     width: 300px;
     height: 375px;

     background: url("https://dl.dropbox.com/s/h4g8vc576ur0ttu/Glory-LOGO.jpg?dl=1") center/cover;

     animation: changeImg 25s ease infinite;
}
.slider::before{
     content: "";
     width: 300px;
     height: 375px;
     background-color: red;
     position: absolute;
     top: 0;
     left: 0;
     transform: rotateZ(-5deg);
     z-index: -1;

}
@keyframes changeImg {
     0%{background: url("https://dl.dropbox.com/s/h4g8vc576ur0ttu/Glory-LOGO.jpg?dl=1") center/cover}
     20%{background: url("https://dl.dropbox.com/s/fnuhn4lwac1astk/Glory-Heroine-Friend.jpg?dl=1") center/cover}
     40%{background: url("https://dl.dropbox.com/s/ghh3ibahinzy454/Glory-Ye-Xiu.jpg?dl=1") center/cover}
     60%{background: url("https://dl.dropbox.com/s/htmd4btqbuzynt4/Glory-Math-Genius.jpg?dl=1") center/cover}
     80%{background: url("https://dl.dropbox.com/s/sg53wq6i3v3jpzm/Glory-Villain.jpg?dl=1") center/cover}
     100%{background: url("https://dl.dropbox.com/s/l63fq25a1bv8co3/Glory-Muscular.jpg?dl=0") center/cover}
}
